/* Noto Fonts Colletion*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+Display&family=Noto+Sans+Math&family=Noto+Sans+Mono&family=Noto+Sans+Symbols&family=Noto+Serif&family=Noto+Serif+Display&display=swap');
@import "./palette.css" print, screen;
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0px;
  font-family: 'Noto Sans', 'Noto Sans Display', 'Noto Sans Math', 'Noto Sans Mono', 'Noto Sans Symbols', 'Noto Serif', 'Noto Serif Display', sans-serif;
}


/* Right-aligned Navigation Menu */
nav {

}
nav a {
  float: left;
  color: black;
  text-align: center;
  padding: 15px;
  font-size: 16px;
  text-decoration: none;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.topnav-left {
  float:left;
}
.topnav-right {
  float:right;
}
.topnav-right a:hover {
  background-color: yellow;
  color: black;
}
.topnav-right a:active {
  background-color: blue;
  color: black;
}

/* ======================================= */

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  height: 50%;
  margin: 0;
}
.hero-text{
  text-align: center;
  color: white;
}
/* Start Columns */
.col {
  width: 100%;
  float:left;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/* End Columns */

/* @media only screen and (max-width: 600px) {}

@media only screen and (min-width: 600px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {}

@media only screen and (min-width: 1200px) {} */
