* {
  box-sizing: border-box;
}

body {
  /* Font for headers */
  font-family: 'Fira Code', monospace;
  /* Font for paragraphs */
  font-family: 'Roboto Slab', serif;
  background-image: linear-gradient(to bottom right, red, yellow);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 660px) {
  
}

/* Small devices (portrait tables and large phones, 600px and up) */
@media only screen and (min-width: 660px) {
  
}

/* Medium devices (landscape tables, 768px and up) */
@media only screen and (min-width: 768px) {
  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 660px) {
  
}

