body, html {
  height: 100%;
  margin: 0;
}

.bg-img {
background-image: url("./bg-img.jpg");
height: 100%;
background-position: center;
background-size: cover;
position: relative;
color: black;
font-family: 'Courier New', Courier, monospace;
font-size: 25px;
}

.top-text {
  position: absolute;
  top: 30px;
  left: 10px;
}

.bottom-text {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%,-50%);
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: red;
}

hr {
  width: 100%;
  color: white;
  border: solid white 3px;
}